@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

button {
  border-color: gray;
}

body {
  color: rgb(var(--foreground-rgb));
}

.HomePageContents {
  color: black;
  font-size: 25px;
  position: absolute;
  width:100%;
  height: 50%;
  top: 20%;
  left: 20%;  
}

.searchOptions {
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  border:1px solid gray;
  width: 60%;
  display: inline-block;
}

.grid-container {
  padding-top: 40px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  grid-auto-rows: minmax(50px, auto);
}


.searchResults {
  padding: 40px;
  width: 100%;
  height: 100%;
  color:black;
  font-size: 14px;
}

table, th, td {
  border: 1px solid black;
}

.buttonStyle {
  padding: 10px;
}